@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/raleway-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Raleway'), local('Raleway-Regular'),
       url('../fonts/raleway-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v14-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-italic - latin */
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/raleway-v14-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Raleway Italic'), local('Raleway-Italic'),
       url('../fonts/raleway-v14-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v14-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v14-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v14-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v14-latin-italic.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-700italic - latin *
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/raleway-v14-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Raleway Bold Italic'), local('Raleway-BoldItalic'),
       url('../fonts/raleway-v14-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v14-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v14-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v14-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v14-latin-700italic.svg#Raleway') format('svg'); /* Legacy iOS */

/* raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/raleway-v14-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Raleway Bold'), local('Raleway-Bold'),
       url('../fonts/raleway-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v14-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v14-latin-700.svg#Raleway') format('svg'); /* Legacy iOS */
}


/*Start global*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
  font-family: 'Raleway', 'Lato', 'Helvetica Neue', 'Arial', sans-serif;
  color: #eee;
}

body {
  width: 100%;
  height: 100%;
  background: url("../images/SolarGradients.jpg") no-repeat center fixed;
  /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
  background-size: cover;
  background-attachment: fixed;
  /* background-color: #ffffff; */
}

section{
  padding: 6rem 0;
}

a {
  text-decoration: none;
  color: #eee;
}

p {
  font-size: 1.8rem;
  font-weight: 300;
}

img {
  width: 100%;
}

/*End global*/

/*Start reusable*/
.container {
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.section-heading {
  text-align: center;
  margin-bottom: 10rem;
}

.section-heading h1 {
  font-size: 3.5rem;
  color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  margin-bottom: 1rem;
}

.section-heading h1::before,
.section-heading h1::after {
  content: "";
  position: absolute;
  bottom: -.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.75);
}

.section-heading h1::before {
  width: 12rem;
  height: 3px;
  border-radius: .8rem;
}

.section-heading h1::after{
  /* width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%; */
  bottom: -1.2rem;
}

.section-heading h5 {
  font-size: 1.6rem;
  font-weight: 300;
}

.has-margin-right {
  margin-right: 5rem;
}

/*End reusable*/

/*Start header*/
header {
  width: 100%;
  height: 100vh;
}

/* .top-nav {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: -100vh;
  z-index: 50;
  background-color: #16162D;
  background: linear-gradient(#242582, #2F2FA2, #05386B)
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  transition: all 500ms cubic-bezier(1,0,0,1);
} */

/* .nav-list {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  margin: 0 2rem;
}

.nav-link {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  padding: 1rem;
}

.nav-link:hover,
.nav-link:focus {
  background: linear-gradient(to top, #FF414E, #FF8928);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top-nav.open {
  top: 0;
  border-radius: initial;
} */

/* .fixed{
  position: fixed;
  z-index: 1500;
} */

header::before{
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  transform: translate(-100%, -100%);
  opacity: 0;
  z-index: 999;
  transition: opacity .3s, transform .2s .6s;
}

.sidebar{
  background-color: #1f253d;
  position: fixed;
  top: 20rem;
  right: 0rem;
  /* left: 0; */
  width: 28rem;
  height: 50vh;
  display: column;
  justify-content: space-between;
  padding: 1.6rem;
  z-index: 1600;
  transform: translateX(100%);
  /* translateX(100%) sidebar kommt von rechts, -100% von links  */
  transition: transform .3s cubic-bezier(.95, .05, .795, .035);
}

.sidebar ul a{
  transition: 0.5s;
}


.nav-list{
  list-style: none;
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
}

.nav-active{
  transform: translateX(0%);
}

/* @keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 0;
    transform: translateX(0);
  }
} */

.nav-item{
  position: relative;
}

.nav-item::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  /* background: linear-gradient(to right, #2af598 0%, #009efd 100%); */
  background: linear-gradient(to right, #FF8928 , #FF414E );
}

.nav-link{
  display: block;
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  line-height: 8rem;
  letter-spacing: 3px;
  transition: color .3s;

}

.nav-link:hover{
  color: rgba(255, 255, 255, 0.8);
}

.nav-link.current{
  color: #fff;
}

.nav-link i{
  font-size: 2rem;
  margin-right: 1rem;
}


main{
  perspective: 100rem;
}


.zoom-content{
  transform-style: preserve-3d;
  transition: transform .5s cubic-bezier(.95, .05, .795, .035);
}

header.active::before{
  transform: translate(0,0);
  opacity: 1;
  transition: opacity .6s;
}

.active .sidebar{
  transform: translateX(0);
}

.active .zoom-content{
  transform: translate3d(0, 0, -25rem);
  /* -25 Seite weiter weg, 25 Seite näher ran */
}

.sidebar ul li:hover a {
  padding-left: 70px;
}

.menu-toggler {
  position: fixed;
  top: 5rem;
  right: 4rem;
  width: 5rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1500;
  transition: transform 650ms ease-out;
}

.menu-toggler.open {
  transform: rotate(-45deg);
}

.bar {
  background: linear-gradient(to right, #FF8928, #FF414E );
  width: 100%;
  height: 5px;
  border-radius: .8rem;
}

.bar.half {
  width: 50%;
}

.bar.start {
  transform-origin: right;
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.start {
  transform: rotate(-450deg) translateX(.8rem);
}

.bar.end {
  align-self: flex-end;
  transform-origin: left;
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.end {
  transform: rotate(-450deg) translateX(-.8rem);
}

.landing-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  /* width: 120%; */
  text-align: center;
  z-index: 1;
}

.landing-text h1 {
  font-size: 15rem;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to top, #FF414E, #FF8928);
  /* background: linear-gradient(to right, #434343 0%, black 100%); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 1rem;
  user-select: none;
}

.landing-text h5 {
  font-size: 2rem;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
/*End header*/



/*Start about*/
.about .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-heading {
  text-align: center;
  text-transform: uppercase;
  line-height: 0;
  margin-bottom: 6rem;
}

.about-heading h1{
  font-size: 10rem;
  opacity: .3;
}

.about-heading h5 {
  font-size: 2rem;
  font-weight: 200;
}

 .nav-listSocialMedia {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  margin: 0 2rem;
}

.profile-img {
  flex: 1;
  margin-right: 5rem;
}

.portfolio-description {
  flex: 1;
}

.about-details {
  flex: 1;
}

.social-media {
  margin-top: 5rem;
}

.social-media i {
  font-size: 5rem;
  transition: all 10ms ease-in;
}


.fa-facebook-square:hover  {
  color: #4267B2;
}

.fa-soundcloud:hover {
  color: #FF7700;
}

.fa-instagram {
  filter: brightness(0%) grayscale(100%) invert(1);
}


.fa-instagram:hover {
  background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
  background: -webkit-radial-gradient(33% 100% circle, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: brightness(100%) grayscale(0%) invert(0);
}

/*End about*/

/*Start services*/
 .my-skills {
   margin-top: 10rem;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   /* media query nicht mehr nötig */
   grid-gap: 2.5rem;
   text-align: center;
 }

 .skill {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 2rem;
 }

.skill h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 2rem -2px 2rem 0;
}

/* #FF414E, #FF8928 */

.icon-container {
  width: 10rem;
  height: 10rem;
  /* border: 3px solid #FF414E; */
  background-image: linear-gradient(-90deg, #FF414E, #FF8928);
  margin-bottom: 2rem;
  display: flex;
  transform: rotate(45deg);
}

.icon-container i {
  color: #221E3F;
  font-size: 5rem;
  margin: auto;
  transform: rotate(-45deg);
}

.skillicons {
  margin-top: 1rem;
  font-size: 4rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.skillicons-title {
  margin-left: auto;
  margin-right: auto;
}

.skillicon-box {
  margin: 1rem;
  padding: 1rem;
}

.skillicon-box i {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.skillicon-title #c {
  margin-left: 15px;
}

.skillicon-box img {
  width: 54px;
  height: 48px;
  margin-left: 9px;
}

/*End services*/

/*Start portfolio*/
.portfolio-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.portfolio-item:last-child {
  margin-bottom: 0;
}

.portfolio-img {
  flex: 1;
}

.portfolio-description {
  flex: 1;
}

.portfolio-description h1 {
  font-size: 3rem;
  margin: 1rem 0;
  font-weight: 300;
}


.portfolio-description h5 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  opacity: .3;
}
.portfolio-description .cta {
  display: inline-block;
  margin-top: 2.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #3883FF;
  transition: color 650ms;
}

.portfolio-description .cta:hover {
  color: #2F67CD;
}

/*End services*/

/*Start timeline*/
.timeline ul {
  border-left: 4px solid #FF8928;
  border-radius: .8rem;
  background-color: rgba(0, 0, 0, 0.05);
  margin: 0 auto;
  position: relative;
  padding: 5rem;
  list-style: none;
  text-align: left;
  width: 70%;
}

.timeline h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 1rem;
  opacity: .3;
}

.timeline .date {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 1rem;
  padding: 1rem;
  position: relative;
}

.timeline .date:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}
.timeline .date::before,
.timeline .date::after {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
}

.timeline .date::before {
  content: attr(data-date);
  left: -21rem;
  text-align: right;
  min-width: 12rem;
  font-size: 1.5rem;
}

.timeline .date::after {
  content: "";
  box-shadow: 0 0 0 4px #FF414E;
  border-radius: 100%;
  left: -7.99rem;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #313534;
}

/*End timeline*/

/*Start contact*/

.contact {
  /* background-color: #221E3F; */
}

form {
  margin: 70%;
  margin: 0 auto;
}

form label {
  font-size: 1.5rem;
}

input,
select,
textarea {
  width: 100%;
  padding: 1rem;
  margin-bottom: 5px;
  border: none;
  outline-color: #FF414E;
}

input[type="submit"] {
  width: initial;
  background-color: #FF414E;
  color: #eee;
  padding: 1rem 2rem;
  border-radius: .8rem;
  cursor: pointer;
  transition: background-color 650ms;
}

input[type="submit"]:hover {
  color: #221E3F;
  background-color: #FF8928;
}

/*End contact*/

/*Start footer*/
.copyright {
  width: 100%;
  text-align: center;
  /* background-color: #16162D; */
  padding: 2rem 0;
  position: relative;
}

.up {
  /* position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: #eee;
  top: -2.5rem;
  right: 5rem;
  border-radius: 100%;
  display: flex; */
  background: rgba(15, 20, 30, .3);
  display: block;
  position: fixed;
  width: 46px;
  height: 46px;
  right: 40px;
  bottom: 40px;
  z-index: 20;
  padding: 13px;
  border: 0 none;
  border-radius: 46px;
  transition: all .2s cubic-bezier(.3, 0, .5, 1) .2s;
  -webkit-transform: translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
  animation: pulse 2s infinite;
  cursor: pointer;
}

.up i{
  color: #eee;
  font-size: 1.2rem;
  margin: auto;
}

.copyright {
  font-size: 1.4rem;
}
/*End footer*/

/*Start animations*/
@keyframes pulse {
  0%   { box-shadow: 0 0 0 0 rgba(56, 131, 255, 0.99);}
  70%  { box-shadow: 0 0 0 2rem rgba(255, 137, 40, 0);}
  100% { box-shadow: 0 0 0 0 rgba(255, 137, 40, 0);}
}


#drehen {
  transition: transform 1.5s;
}

#drehen:hover {
  transform: rotateZ(360deg);
}

#drehen2 {
  transition: transform 1.5s;
}

#drehen2:hover {
  transform: rotateZ(315deg);
}

/*End animations*/

/*Start media queries*/

@media screen and (max-width: 768px) {
  /* body {
    background: url("images/sitebg2.jpg") no-repeat center fixed;
    background-size: cover;
  } */

  .landing-text h1 {
    font-size: 15rem;
  }

  .landing-text h5 {
    font-size: 1.7rem;
  }

  .nav-list {
    flex-direction: column;
  }

  li {
    margin: 2rem 0;
  }

  .nav-link {
    font-size: 4.5rem;
  }

  .about-heading h1 {
    font-size: 8rem;
  }

  .section h1 {
    font-size: 3rem;
  }

  .about-details .nav-list {
    flex-direction: initial;
  }

  .about-details li {
    margin: 0 2rem;
  }

  .icon-container {
    width: 7rem;
    height: 7rem;
  }

  .icon-container i {
    font-size: 4rem;
  }

  .timeline ul {
    margin: 0 0 0 auto;
  }

  .timeline .date:before {
    left: -20rem;
  }

  .timeline .date::after {
    left: -5.9rem;
  }

}


@media screen and (max-width: 600px) {

  .menu-toggler {
    top: 2rem;
    right: 2rem;
  }

  .landing-text h1 {
    font-size: 8rem;
  }

  .landing-text h5 {
    font-size: 5rem;
  }

  .feature span {
    font-size: 4rem;
  }

  .nav-link {
    font-size: 3.5rem;
  }

  .about .container {
    flex-direction: column;
  }

  .profile-img {
    margin: 0 0 7rem 0;
  }

  .portfolio-item {
    flex-direction: column;
  }

  .portfolio-img {
    margin: 0 0 2rem 0;
    order: 1;
  }

  .portfolio-description {
    margin: 0;
    order: 2
  }

  .timeline p {
    font-size: 1.6rem
  }

  .timeline .date::before {
    font-size: 1.4rem;
  }

  form {
    width: 100%;
  }

  .up {
    right: 2rem;
  }

}

@media screen and (max-width: 375px) {
  .timeline .date::before {
    font-size: 1rem;
  }
}

/*End media queries*/






/* Effects begin */

/* Typingeffect */
.feature p {
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
  padding: .5rem;
}

.typed-text {
  font-size: 3rem;
  color: #eee;
}


.cursor{
  line-height: 40px;
  display: inline-flex;
  animation: blink 1s infinite;
  padding-top: 1rem;
}

.cursor.typing {
    animation: none;
}



/* CONTACT BUTTON */


a.contact-link {
    display:none
}

@media (min-width: 375px) {
    a.contact-link {
        background: rgba(15, 20, 30, .3);
        display: block;
        position: fixed;
        width: 46px;
        height: 46px;
        left: 40px;
        bottom: 40px;
        z-index: 20;
        padding: 13px;
        border: 0 none;
        border-radius: 46px;
        transition: all .2s cubic-bezier(.3, 0, .5, 1) .2s;
        -webkit-transform: translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0);
    }

    a.contact-link svg {
        display: block;
        width: 20px;
        height: 20px;
        float: left;
        margin-right:8px;
        padding: 1px;
    }

    a.contact-link span {
        display: block;
        width: 0;
        float: left;
        overflow: hidden;
        font-size: 1.2rem;
        line-height: 1.5rem;
        font-weight: 500;
        color: #fff;
        opacity: 0;
        margin-top: 1px;
        transition:width 0s linear .2s, opacity .2s cubic-bezier(.3, 0, .5, 1)
    }

    a.contact-link:active, a.contact-link:hover {
        background: rgba(15, 20, 30, .3);
        width: 140px;
        transition:all .2s cubic-bezier(.3, 0, .5, 1);
    }

    a.contact-link:active span, a.contact-link:hover span {
        width: auto;
        opacity: 1;
        transition:width 0s linear .2s, opacity .2s cubic-bezier(.3, 0, .5, 1) .2s;
    }
}


/* TEXT ANIMATION */

.landing-text span{
  text-transform: uppercase;
}

.text1{
  color: #FF8928;
  font-size: 140px;
  font-weight: 700;
  letter-spacing: 5px;
  margin-bottom: 20px;
  position: relative;
  animation: text 3s 1;
}

.text2{
  font-size: 30px;
  /* color: #6ab04c; */
  animation: text3 8s 1;
}

@keyframes text {
  0%{
    color: white;
    margin-bottom: -20px;
  }

  30%{
    letter-spacing: 20px;
    margin-bottom: -20px;
  }
  85%{
    color: #FF8928;
    letter-spacing: 5px;
    margin-bottom: -20px;
  }

}











/* TEXT */

#logo {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    animation: fill 0.5s ease forwards 3s;
  }



#logo path:nth-child(2) {
  /* L */
  stroke-dasharray: 800px;
  stroke-dashoffset: 800px;
  animation: line-anim 2s ease forwards;
}
#logo path:nth-child(3) {
  /* O */
  stroke-dasharray: 584px;
  stroke-dashoffset: 584px;
  animation: line-anim 2s ease forwards 0.3s;
}
#logo path:nth-child(4) {
  /* N */
  stroke-dasharray: 865px;
  stroke-dashoffset: 865px;
  animation: line-anim 2s ease forwards 0.6s;
}

#logo path:nth-child(5) {
  /* G */
  stroke-dasharray: 790px;
  stroke-dashoffset: 790px;
  animation: line-anim 2s ease forwards 0.9s;
}

#logo path:nth-child(6) {
  /* D */
  stroke-dasharray: 857px;
  stroke-dashoffset: 857px;
  animation: line-anim 2s ease forwards 1.2s;
}
#logo path:nth-child(7) {
  /* O */
  stroke-dasharray: 584px;
  stroke-dashoffset: 584px;
  animation: line-anim 2s ease forwards 1.5s;
}
#logo path:nth-child(8) {
  /* A */
  stroke-dasharray: 676px;
  stroke-dashoffset: 676px;
  animation: line-anim 2s ease forwards 1.8s;
}
#logo path:nth-child(9) {
  /* N */
  stroke-dasharray: 841px;
  stroke-dashoffset: 841px;
  animation: line-anim 2s ease forwards 2.1s;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from{
    fill: transparent;
  }
  to{
    fill: #FF8928;
  }
}
/* Effects end */
